*{
  margin:0;
  left:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Josefin Sans', sans-serif;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
nav{
  flex: 1;
  text-align: right;
}

nav ul{
  display: inline-block;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: #fff;
}

p{
  color: #fff;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
  color: #fff;
}

 .col-2 h1{
  font-style: italic;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  letter-spacing: 4px;
} 

.col-2 img{
  max-width: 100%;
  padding: 50px 0px;
  margin-bottom: 20px;

}
.btn{
  display: inline-block;
  background: #d1d0c2;
  color: #000;
  padding: 8px 30px;
  margin:30px 0px;
  border-radius:30px;
  transition: background 0.5s;
}
.btn:hover{
   background: #563434;

}
.header{
  background: #000;
}
.header .row{
  margin-top: 0px;
}
.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4{
  flex-basis: 25%;
  padding:10px;
  min-width:200px;
  margin-bottom:50px;
  transition: transform 0.5s;
}
.col-4 img{
  width:100%;
}

h5{
  color:#000;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color:#563434;
}
.title::after{
  content: '';
  background: #d1d0c2;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4{
  color:#563434;
  font-weight: normal;
  padding-top: 5px;
}
.col-4 h5{
  font-size: 14px;
  padding-top: 5px;
}
.col-4:hover{
  transform: translateY(-5px);
}

/* footer */

.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 16px;
  padding: 40px 0 30px;
}
.footer p{
  color: #8a8a8a;
  text-align: center;
}


/* media query for menu */
/* 
@media only screen and (max-width: 800px){
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #d1d0c2;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #000;
  }
  .menu-icon{
    display: block;
    cursor: pointer;

  }
} */

.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* media query pt menu */

@media only screen and (max-width: 800px){
  nav ul{
    position: absolute;
    top: 100px;
    left: 0;
    background:#000;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  nav ul li{
    color: #fff;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}

/* account-page */

.account-page{
  padding: 50px 0;
  background: #000;
}

.form-container{
  background: #fff;
  width: 300px;
  height:400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  overflow: hidden;
}
.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn{
  display: inline-block;
}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}

form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

form .btn:focus{
  outline: none;
}
#LoginForm{
  left: -300px;
}
#RegForm{
  left: 0;
}
form a{
  font-size: 12 px;
}

.about-page{
   width:500px;
   height:500px;
   margin:auto;
 
}

#Indicator{
  width: 100px;
  border: none;
  background: #563434;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}


/* media query TELEFON - 1 COLOANA*/

@media only screen and (max-width: 768px){
  .col-2 img{
    width: 100%;
    padding: 1%;
    margin-bottom: 2%;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100%;
  }
}



